.content{
    @include flexBoxColumn;
    width: 75%;
    margin-top: 25rem;
    margin-left: 5rem;

    .profile-info{
        @include flexBox;
        border-bottom: 1px solid #ccc;
        padding-bottom: 2rem;

        .profile-pic{
            width: 8rem;
            height: 8rem;
            
            img{
                border-radius: 50%;
            }
        }
    }
}

@import "ProfileText";
@import "ContentMedia";