.profile-text{
    margin-left: 3rem;
    font-size: 1.3rem;
    @include flexBoxColumn;

    .profile-names{
        margin: 2rem 0;

        .profile-name{
            margin-bottom: 1rem;
        }
    }

    .profile-bio{
        width: 70%;
    }
}